.form-control:focus {
    border-color: #333 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;
}

.form-control {
    border-color: #a4a4a4 !important;
}

.custom-checkbox .form-check-input:checked {
    background-color: #333;
    border-color: #000000;
}

thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}